* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: lightblue;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.board {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    height: 800px;
    width: 800px;
    border: solid black 4px;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 6em;
    font-family: fantasy;
    border: solid black 4px;
}